.header__search-form {
  width: 506px;
  position: relative;
  padding: 0;
}

@media (width < 1024px) {
  .header__search-form {
    width: 601px;
  }
}

@media (width < 886px) {
  .header__search-form {
    width: 483px;
  }
}

@media (width < 768px) {
  .header__search-form {
    width: 409px;
  }
}

@media (width < 640px) {
  .header__search-form {
    width: 263px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(1 * var(--size));
}

.search-form__input {
  width: 100%;
  height: 100%;
  padding: calc(.75 * var(--size)) calc(1 * var(--size));
  padding-right: calc(3.5 * var(--size));
  border-radius: calc(.5 * var(--size));
  border: none;
  outline: none;
  color: var(--text-color-primary);
  background-color: var(--bg-light-transparent);
  font-variant-numeric: inherit;
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  transition: var(--transition);
}

.search-form__input:hover {
  background-color: var(--bg-form-active);
}

.search-form__input:has(+.search-form__btn:hover) {
  background-color: var(--bg-form-active);
}

.search-form__input::placeholder {
  color: var(--text-color-placeholder);
  transition: var(--transition);
}

.search-form__input:focus {
  background-color: var(--bg-form-active);
}

@media (width < 768px) {
  .search-form__input {
    line-height: 1.14286;
    font-size: var(--font-size-media-small);
    padding: calc(.5 * var(--size)) calc(.75 * var(--size));
    padding-right: calc(2 * var(--size));
  }
}

@media (width < 768px) {
  .search-form__input::placeholder {
    font-size: var(--font-size-media-small);
  }
}

.search-form__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  color: var(--netural-700);
  position: absolute;
  right: calc(1 * var(--size));
  transition: var(--transition);
}

.search-form__btn[type="button"] {
  pointer-events: none;
}

.search-form__btn[type="reset"] svg {
  transition: var(--transition);
}

.search-form__btn[type="reset"]:hover svg {
  color: var(--text-color-primary);
}

@media (width < 1024px) {
  .search-form__btn {
    width: calc(1.5 * var(--size));
    height: calc(1.5 * var(--size));
    object-fit: contain;
  }
}

@media (width < 768px) {
  .search-form__btn {
    width: calc(1 * var(--size));
    height: calc(1 * var(--size));
    object-fit: contain;
    top: calc(.3125 * var(--size));
    right: calc(.75 * var(--size));
  }
}