.details__item {
  border-radius: calc(.5 * var(--size));
  padding: calc(1 * var(--size));
  background: var(--bg-light-transparent);
}

@media (width < 1024px) {
  .details__item {
    padding: calc(1 * var(--size));
  }
}

@media (width < 768px) {
  .details__item {
    padding: calc(.75 * var(--size));
  }
}

.details-item__info-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1 * var(--size));
  margin-bottom: calc(1 * var(--size));
}

@media (width < 768px) {
  .details-item__info-all {
    gap: calc(.75 * var(--size));
    margin-bottom: calc(.75 * var(--size));
  }
}

.details-item__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small-title);
  line-height: var(--line-height-slider);
  color: var(--text-color-primary);
}

@media (width < 768px) {
  .details-item__title {
    font-size: var(--font-size-media-small-title);
    line-height: var(--line-height-additional);
  }
}

.details-item__img {
  width: calc(2 * var(--size));
  height: calc(2 * var(--size));
  object-fit: contain;
}

@media (width < 768px) {
  .details-item__img {
    width: calc(1.5 * var(--size));
    height: calc(1.5 * var(--size));
  }
}

.details-item__value {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-value);
  line-height: var(--line-height-one);
  color: var(--text-color-primary);
  position: relative;
}

@media (width < 768px) {
  .details-item__value {
    font-size: var(--font-size-media-value);
  }
}

.details-item__info-custom {
  display: grid;
}

.details-item__desc {
  font-size: var(--font-size-additional);
  line-height: var(--line-height-additional);
  color: var(--text-color-additional);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 768px) {
  .details-item__desc {
    font-size: var(--font-size-media-additional);
  }

  .details-item:last-child .details-item__desc {
    text-align: center;
  }
}

.details-item__desc span {
  margin-left: calc(0.125 * var(--size));
}

.details-item__first {
  flex-grow: 1;
}

.details-item__second {
  margin-right: calc(-.1875 * var(--size));
}

.details-item__range {
  height: calc(.375 * var(--size));
}

@media (width < 768px) {
  .details-item__range {
    height: calc(.375 * var(--size));
  }
}

@media (width < 644px) {
  .details-item__range {
    margin-bottom: calc(.375 * var(--size));
  }
}

.details-item__round {
  width: calc(.375 * var(--size));
  height: calc(.375 * var(--size));
}

@media (width < 768px) {
  .details-item__round {
    width: calc(.375 * var(--size));
    height: calc(.375 * var(--size));
  }
}