.input {
  z-index: 1;
  border: none;

  background: none;
  padding: 0.75rem 0 0.75rem 1rem;
  width: calc(100% - 48px);
  height: 1.5rem;
  color: var(--dark-color);

  font-size: 1.25rem;

  font-variant-numeric: lining-nums;
  text-transform: capitalize;
}

.input::placeholder {
  color: var(--gray-color);
  text-transform: none;
}

.input:focus,
.input:active {
  outline: none;
}

.search-form {
  display: flex;
  justify-content: space-between;

  transition: background-color 0.08s ease-in;
  border-radius: var(--border-radius);
  background-color: var(--card-bg-color);

  width: 506px;
}

.search-form:hover,
.focus {
  background-color: var(--light-color);
}

.search-form__input {
  border: none;
  background: none;
  padding: 0.75rem 0 0.75rem 1rem;
  width: calc(100% - 48px);
  height: 1.5rem;
  color: var(--dark-color);

  font-size: 1.25rem;

  font-variant-numeric: lining-nums;
}

.search-form__input::placeholder {
  color: var(--gray-color);
}

.search-form__input:focus,
.search-form__input:active {
  outline: none;
}

.search-form__btn {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.75rem 1rem;
  height: 1.5rem;
  fill: currentColor;
  stroke: currentColor;
  color: var(--gray-dark-color);

  &:is(:hover, :focus-visible) {
    outline: none;
    color: var(--dark-color);
  }
}

.search-form__btn-icon {
  display: block;
  width: 24px;
  height: 24px;
}

@media (max-width: 886px) {
  .search-form {
    width: clamp(30.188rem, -17.813rem + 100vw, 37.563rem);
  }
}

@media (max-width: 768px) {
  .search-form {
    width: clamp(25.563rem, 2.438rem + 57.81vw, 30.188rem);
    height: clamp(2rem, -3rem + 12.5vw, 3rem);
  }

  .search-form__btn {
    padding-inline: clamp(0.75rem, -0.5rem + 3.13vw, 1rem);

    padding-block: clamp(0.5rem, -0.75rem + 3.13vw, 0.75rem);
    height: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
  }

  .search-form__btn-icon {
    width: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
    height: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
  }

  .search-form {
    width: clamp(25.563rem, 2.438rem + 57.81vw, 30.188rem);
  }
}

@media (max-width: 640px) {
  .search-form {
    width: clamp(16.438rem, 3.525rem + 55.09vw, 25.563rem);
  }
}

@media (max-width: 886px) {
  .input {
    padding-block: clamp(0.5rem, 0.261rem + 1.02vw, 0.75rem);

    font-size: clamp(0.875rem, 0.517rem + 1.53vw, 1.25rem);
  }
}

@media (max-width: 768px) {
  .input {
    padding: clamp(0.5rem, -0.75rem + 3.13vw, 0.75rem);
    padding-right: 0;
    height: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
  }

  .input::placeholder {
    font-size: clamp(0.875rem, -1rem + 4.69vw, 1.25rem);
    line-height: clamp(1rem, -1.5rem + 6.25vw, 1.5rem);
  }
}
