.slider__weather {
    display: grid;
    grid-template-columns: calc(3.5 * var(--size)) 1fr calc(3.5 * var(--size));
    gap: calc(2 * var(--size));
}

@media (width < 1024px) {
    .slider__weather {
        gap: calc(1.5 * var(--size));
    }
}

@media (width < 768px) {
    .slider__weather {
        grid-template-columns: calc(2.5 * var(--size)) 1fr calc(2.5 * var(--size));
        gap: calc(1 * var(--size));
    }
}

@media (width < 640px) {
    .slider__weather {
        grid-template-columns: calc(2.5 * var(--size)) 1fr calc(2.5 * var(--size));
    }
}