*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input, button, ::placeholder {
  font: inherit;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: calc(2 * var(--size));
  background-image: url('../image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  font-variant-numeric: lining-nums;
}

@media (width < 1024px) {
  body {
    padding: calc(1.5 * var(--size));
  }
}

@media (width < 768px) {
  body {
    padding: calc(1 * var(--size));
  }
}

#root {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 1120px;
  border-radius: calc(.5 * var(--size));
  backdrop-filter: blur(25px);
  background: rgba(112, 112, 112, 0.1);
}

.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: auto !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
