.weather-slider__list {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: calc(1 * var(--size));
    flex-wrap: nowrap;
    overflow: hidden;
    mask: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 3.64%);
}

@media (width < 1024px) {
    .weather-slider__list {
        gap: calc(.75 * var(--size));
    }
}

@media (width < 768px) {
    .weather-slider__list {
        gap: calc(.5 * var(--size));
        height: calc(2.875 * var(--size));
        mask: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 32px);
    }
}

@media (width < 640px) {
    .weather-slider__list {
        height: unset;
    }
}

.weather-slider__prev-btn,
.weather-slider__next-btn {
    padding: calc(.75 * var(--size)) calc(1 * var(--size));
    align-self: center;
    border-radius: calc(.5 * var(--size));
    background-color: var(--bg-light-transparent);
    outline: none;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.weather-slider__prev-btn:disabled,
.weather-slider__next-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.weather-slider__prev-btn:hover:enabled,
.weather-slider__next-btn:hover:enabled {
    background-color: #dadada;
}

@media (width < 768px) {

    .weather-slider__prev-btn,
    .weather-slider__next-btn {
        padding: calc(.5 * var(--size)) calc(.75 * var(--size));
    }

    .weather-slider__prev-btn svg,
    .weather-slider__next-btn svg {
        width: calc(1 * var(--size));
        height: calc(1 * var(--size));
    }
}

@media (width < 640px) {

    .weather-slider__prev-btn,
    .weather-slider__next-btn {
        padding: calc(.5 * var(--size)) calc(.75 * var(--size));
    }

    .weather-slider__prev-btn svg,
    .weather-slider__next-btn svg {
        width: calc(1 * var(--size));
        height: calc(1 * var(--size));
    }
}